html {
    scroll-behavior: smooth;
}
body {
    font-size: 23px;
}

.navbar.navbar-expand-lg.navbar-light.bg-light.shadow.fixed-top {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #f97352!important;
}

.navbar-brand {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-left: 25px;
}

.navbar-brand {
    color: black;
}

.navbar-brand:hover {
    color: #f97352!important;
}


.navbar-nav {
    font-size: 1.5rem;
    margin-left: 65%;
}


#services {
    background-color: white!important;
}


hr.divider {
    max-width: 3.25rem;
    border-width: .2rem;
    border-color: #f97352;
}

#services .container h1 {
    margin-top: 35px;
    text-transform: uppercase;
    color: #f97352;
}

#services .container h4 {
    color: #f97352!important;
}

#services .row.text-center {
   margin-top: 35px;
}

#services .row.text-center img {
    width: 75px;
}

#services .row.text-center h4 {
    margin-top: 10px;
    color: white;
}

#services .row.text-center p {
    margin-bottom: 15px;
}

i {
    color: #f97352;
}

#equipe {
    background-color: #f97352;
    margin-top: 27px;
}

#equipe .container h1 {
    margin-top: 35px;
    text-transform: uppercase;
    color: white
}

#equipe hr.divider {
    max-width: 3.25rem;
    border-width: .2rem;
    border-color: white;
}

#equipe .row img {
    width: 250px;
}

#equipe .row.equipe {
    margin-left: 8%;
    margin-top: 20px;
}

#equipe .row.equipe h4 {
    margin-top: 20px;
    font-weight: bold;
}

#equipe .row.equipe p {
    color: white;
    opacity: 0.65;
}

#portfolio {
    color: #f8f9fa!important; 
}

#portfolio .container h1 {
    margin-top: 35px;
    text-transform: uppercase;
    color: #f97352;
}

#contact {
    background-color: white;
    margin-top: 27px;
}

#contact h1 {
    text-transform: uppercase;
    color: #f97352;
    padding-top: 25px
}

#contact hr.divider {
    max-width: 3.25rem;
    border-width: .2rem;
    border-color: #f97352;
}

#contact .row.text-center p {
    color: white;
    margin: auto;

}

 #contact .md-form label {
     margin-left: 15px;
 }

 #contact .row.row.text-center.description {
    padding-top: 20px;
    padding-bottom: 20px;
}

 #contact .row.row.text-center.description p {
     color: black;
 }

 .map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
    .map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.footer {
    background-color: #f97352 ;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer a:hover {
    color: black;
}

@media (max-width: 1528px) {

.navbar-nav {
    margin-left: 43%;
} 




